# +
# Compiled
# -
*.pyc
__pycache__

# +
# Packages
# -
*.dmg
*.gz
*.old
*.tar
*.tgz
*.zip

# +
# Logs
# -
*.log

# +
# Pycharm
# -
.idea

# +
# local stuff
# -
etc/DNA.sh

# +
# OS
# -
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
